<div class="container text-center">
    <h1>About Page</h1>
    <p>We are DevMatch. Our company focuses on creating an exclusive community
    for developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, 
    consectetur adipisicing elit. Excepturi, neque, voluptate, voluptates ea 
    repellat error aut sit sequi voluptatibus pariatur quos quisquam at maxime 
    odio libero rerum laudantium. Eos, error.</p>
</div>